
# Autoload local scripts
PATH=$(git rev-parse --show-toplevel)/bin:$PATH
export PATH

# `aws configure --profile foo`
which aws >/dev/null 2>&1 && ( \
AWS_DEFAULT_PROFILE="${AWS_DEFAULT_PROFILE:-dev}" ; export AWS_DEFAULT_PROFILE \
AWS_DEFAULT_REGION="$(aws configure get ${AWS_DEFAULT_PROFILE}.region)" ; export AWS_DEFAULT_REGION \
AWS_ACCESS_KEY_ID="$(aws configure get ${AWS_DEFAULT_PROFILE}.aws_access_key_id)"; export AWS_ACCESS_KEY_ID \
AWS_SECRET_ACCESS_KEY="$(aws configure get ${AWS_DEFAULT_PROFILE}.aws_secret_access_key)" ; export AWS_SECRET_ACCESS_KEY ) || true

export TERRAFORM_VERSION="${TERRAFORM_VERSION:-light}"

# https://www.terraform.io/docs/backends/types/s3.html
export STATE_BACKEND="${STATE_BACKEND:-$RANDOM-s3-bucket}"

# https://github.com/hashicorp/terraform/blob/master/CHANGELOG.md
export TERRAFORM_VERSION="0.12.25"

# https://www.terraform.io/docs/configuration/variables.html#variable-definition-precedence
#export TF_VAR_env="$(tf-workspace)"

#export TF_LOG=TRACE
export TF_WORKSPACE="$(which tf-workspace && tf-forkspace:-default)"
